<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="proflie.jpg" alt="Profile Picture" class="profile-picture"/>
            <div class="centered-text">
                <h1>TITIPORN KLANSANIT</h1>
            </div>
            <h3>Major of Electronics and Computer System Engineering Silpakorn University</h3>
            <h2>Contact channels</h2>
            <a href="index4.html">Next</a>
            <h2>EXPERIENCES</h2>
            <a href="index2.html">Next</a>
            <h2>TRAINING</h2> <a href="index3.html">Next</a>
            <h2>EDUCATION </h2><a href="index2.html">Next</a>
        </div>
        
        <div class="right-panel">
            <div class="content">
              <div class="section">
                    <h2>MY PROFILE</h2>
                    <p>Now, I am a 4 rd year student in the Department of Electronics and Computer System at Silpakorn University. I am interested in having an internship in your company.</p>
                    <p>I can analyze basic electronics circuits, can code in C language and Python to program Arduino UNO R3 for control electronic devices, can use general electrical measuring tools, and can design digital circuits and logic design.</p>
                </div> 
            <h2>HOBBIES</h2>
            <p>• Listen to music</p>
            <p>• Make dessert</p>
            <p>• Watch series</p>
            <h2>SKILLS</h2>
            <p>• C/C++ (Arduino)</p>
            <p>• Python</p>
            <p>• Assembly </p>
            <p>• Proteus </p>
            <p>• LabView </p>
            <p>• P-Spicec</p>
            <p>• Mathlab  </p>
            <p>• Word</p>
            <p>• Excel </p>
            <p>• PowerPoint </p> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>