<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container1">
        <div class="left1-panel">
            <div class="centered1-text">
                <h4>EXPERIENCES</h4>
                <h5>Internship</h5>
                <p>2024: Bang Len District Electricity Authority</p>
                <p>*****************************************************************************</p>
                <img src="Bang Len1.jpg" alt="Profile Picture" class="profile1-left"/>
                <img src="Bang Len2.jpg" alt="Profile Picture" class="profile1-left"/>
                <img src="Bang Len3.jpg" alt="Profile Picture" class="profile1-left"/>
                <p>*****************************************************************************</p>
                <h5>Part-Time</h5>
                <p>2023-2024: Employee Amazon coffee shop</p>
                <p>*****************************************************************************</p>
                <img src="A1.jpg" alt="Profile Picture" class="profile1-left"/>
                <img src="A2.jpg" alt="Profile Picture" class="profile1-left"/>
                <img src="A3.jpg" alt="Profile Picture" class="profile1-left"/>
                <p>*****************************************************************************</p>

            </div>
        </div>
        
        <div class="right1-panel">
            <div class="centered1-text"  >
                <h5>RECORD AND TRAINING</h5>    
                <p>2024 (2 Days): Project for creating functions and classes in Python</p>
                <p>2023 (3 Days): Project to enhance programming skills by creating games using Python together with Pygame</p>
                <img src="k1.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="k2.jpg" alt="Profile Picture" class="profile1-right"/>
                <h5>EDUCATION</h5>
                <P>-------------------------------------------------------------------------------------------------------------------</P>
                <p>***************************************************************************************************</p>
                <p>Bachelor of Engineering (B.Eng)</p>
                <p>Faculty of Engineering and Industrial Technology</p>
                <p>Silpakorn University, Major in Electronic and Computer System Engineering</p>
                <p>GPA: 2.35</p>
                <p>***************************************************************************************************</p>
                <P>-------------------------------------------------------------------------------------------------------------------</P>
                <a href="https://drive.google.com/drive/folders/11iSoXtn1EJd4_Ywk1tnZdB9-1PBtAOdn?usp=sharing">เอกสารเพิ่มเติม Click here</a>
                <a href="index.html">Back</a>
            </div>
        </div>
    </div>