<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container1">
        <div class="left1-panel">
            <div class="centered1-text">
                <h5>Mini Projects </h5>
                <P>---------------------------------------------------------------------------------------------</P>
                <P>---------------------------------------------------------------------------------------------</P>
                <p>2024: Control speed  and direction of motor</p>
                <a href="https://drive.google.com/file/d/10kBeHFaT1AiJvtO7hXH_m7mrhR5y4b_m/view?usp=sharing">เอกสารเพิ่มเติม Click here</a>
                <P>---------------------------------------------------------------------------------------------</P>
                <p>2023: Smart front garden designed by Proteus</p>
                <img src="w1.jpg" alt="Profile Picture" class="profile2-left"/>
                <a href="https://drive.google.com/file/d/1T4OWH6UPQVk8iZV2od2COKsSd_JAbi3K/view?usp=sharing">คลิปสาธิตเพิ่มเติม Click here</a>
                <P>---------------------------------------------------------------------------------------------</P>
            </div>
        </div>
        <div class="right1-panel">
            <div class="centered1-text"  >
                <P>---------------------------------------------------------------------------------------------</P>
                <p>2023: Calculating BMI with assembly language</p>
                <a href="https://drive.google.com/file/d/1BgIslwdxGdSCO1J4gJFFiYoCbfgWZsZG/view?usp=sharing">เอกสารเพิ่มเติม Click here</a>
                <P>---------------------------------------------------------------------------------------------</P>
                <p>2022: Water level measuring device</p>
                <img src="p1.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="p3.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="p4.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="p5.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="p6.jpg" alt="Profile Picture" class="profile1-right"/>
                <img src="p2.jpg" alt="Profile Picture" class="profile1-right"/>
                <P>---------------------------------------------------------------------------------------------</P>
                <a href="index.html">Back</a>
            </div>
        </div>
    </div>
                