<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container1">
        <div class="left1-panel">
            <div class="centered1-text">
                <h4>Contact Channels</h4>
                <h5>Address</h5>
                <p>3/10 Village No.4, Bangkaeofa, Nakhon Chai Si, Nakorn Pathom 73120</p>
                <img src="Phon.jpeg" alt="Profile Picture" class="profile-Phone"/>
                <P>-----------------------------------------</P>
                <p>Phone: 0955301913</p>
                <P>-----------------------------------------</P>
                <img src="Email.png" alt="Profile Picture" class="profile-Phone"/>
                <P>-----------------------------------------</P>
                <p>Email: cat0912214@gmail.com</p>
                <P>-----------------------------------------</P>
                <img src="face" alt="Profile Picture" class="profile-Phone"/>
                <P>-----------------------------------------</P>
                <p>Facebook: Titiporn Klansanit</p>
                <P>-----------------------------------------</P>
                <img src="Line.png" alt="Profile Picture" class="profile-Phone"/>
                <P>-----------------------------------------</P>
                <p>LINE: kitkat021045</p>
                <P>-----------------------------------------</P>
                <img src="ig1.jpg" alt="Profile Picture" class="profile-Phone"/>
                <P>-----------------------------------------</P>
                <p>Instagram: tk_kitkat</p>
                <P>-----------------------------------------</P>
                <p>**********************************************************************************</p>
                <a href="index.html">Back</a>
            </div>
        </div>
       


